:root {
    --bgcolor: #fbf7ea;
    --darkbg:#CCC5B9;
    --btncolor: #EB5E28;
    --darkbrown:#403D39;
    --black:#252422;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bgcolor);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--darkbrown);
}
.btn-outline-info{
    border: 2px solid var(--btncolor);
    color: var(--darkbrown);
    box-shadow: 4px 4px 10px var(--btncolor);
}
.btn-outline-info:hover{
    background-color: var(--btncolor) !important;
    border: 2px solid var(--btncolor);
    color: var(--bgcolor);
    box-shadow: 4px 4px 10px var(--darkbrown);
    transition-duration: 0.5s;
}
.navbar{
    background-color: var(--darkbrown);
}
.navbar-brand{
    padding: 10px;
}
.nav-link, .navbar-brand{
    color: var(--bgcolor);
    transition-duration: 0.5s;
    font-family: 'Playfair Display', serif; 
    letter-spacing: 3px;
}
.nav-link:hover,.navbar-brand:hover{
    background-color: #eee4d4;
}
.navbar-brand{
    color: var(--bgcolor);
}
.navbar-brand:hover{
    background-color: #eee4d4;
}
.option a{
    text-decoration-color: var(--darkbrown);
    color: var(--darkbrown);
}
.option a:hover{
    color: var(--btncolor);
}
.collapse{
    align-items: flex-end;
    justify-content: flex-end;
}
.navbar-toggler{
    background-color: var(--bgcolor);
}
.backgd{
    background: linear-gradient(var(--darkbrown),var(--btncolor));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.backgd .title{
    font-family: 'Playfair Display', serif; 
    font-weight: 900;
    font-size: 9vh;
    text-align: center;
    position: relative;
    top: 35%;
    text-shadow: 4px 4px 8px var(--bgcolor);
}
.backgd p{
    text-align: center;
    position: relative;
    top: 35%;
    font-size: 3vh;
}
.about, .images{
    margin: 40px;
    text-align: justify;
}
.about h3, .images h3{
    font-family: 'Playfair Display', serif;
}
.about div, .images div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.images div{
    flex-wrap: wrap;
}
.about div img{
    width: 400px;
    height: 350px;
    margin: 20px;
    border: 5px solid var(--darkbrown);
    border-radius: 20px;
}
.about div p{
    padding: 20px;
}
.images img{
    width: 450px;
    height: 500px;
    margin: 20px;
    border: 5px solid var(--darkbrown);
    border-radius: 20px;
}
.orders{
    margin: 20px auto;
    padding: 10px;
    border: solid var(--black) 4px;
    border-radius: 10px;
}
.orders th{
    background-color: var(--darkbg);
    text-align: center;
}
.orders td,.orders th{
    padding: 10px;
    border: solid var(--black) 2px;
    border-collapse: collapse;
}
.logout{
    border: solid var(--btncolor) 2px;
    border-radius: 10px;
    padding: 10px;
    transition: linear 0.5s;
    position: absolute;
    top: 70px;
    right: 20px;
}
.logout:hover{
    box-shadow: 4px 4px 10px var(--btncolor);
}
.orderform{
    width: 50%;
    background-color: var(--darkbg);
}
#orderh2{
    text-align: center;
}
.orderform,#orderh2{
    margin: 10px auto;
    padding: 10px;
}
.orderform input{
    margin: 10px auto;
    width: 90%;
}
.orderform input:hover{
    background-color: rgb(212, 244, 255);
}
.orderform .btn{
    width: 120px;
}
.content-section{
    width: 40vw;
    margin: 40px auto;
    border: solid var(--darkbrown) 5px;
    padding: 50px;
    border-radius: 50px;
}
.content-section input{
    margin: 10px;
}
.content-section legend{
    margin: 10px;
    font-family: 'Playfair Display', serif; 
    text-align: center;
    font-size: 30px;
}
.top-margin{
    height: 50px;
}
.footer {
    padding: 30px 0px;
    background-color: black;
    color: var(--bgcolor);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.social{
    margin: 50px 0px;
}
.footer .icons {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.icon {
    margin: 5px 20px;
}
.icon a {
    color: var(--bgcolor);
    border: solid black 2px;
    padding: 5px 10px;
    border-radius: 10px;
}
.icon a:hover{
    border: solid 1px var(--btncolor);
}
.college-info{
    width:450px;
    margin-top: 20px;
}
.fab, .far {
    font-weight: 400;
}
@media screen and (min-width:320px) and (max-width:550px) {
    .orderform{
        width: 70%;
    }
    .backgd .title{
        font-size: 5vh;
    }
    .content-section{
        width: 300px;
        padding: 20px;
        margin: 20px auto;
    }
    .about div{
        flex-wrap: wrap;
    }
}
@media screen and (min-width:320px) and (max-width:450px) {
    .images div img{
        width: 350px;
        height: 400px;
        margin: 20px;
        border: 5px solid var(--darkbrown);
        border-radius: 20px;
    }
}