{% extends "layout.html" %}
{% block content %}
    <div class="backgd">
        <div class="title">Vehicle Detection System</div>
        <p>Find your vehicle in parking lot in jiffy!!</p>
    </div>
    <div class="about">
        <h3>About</h3>
        <div>
            <img src="../static/pro-white.jpeg" alt="Product-image">
            <div>
                <p>To detect a vehicle among many vehicles in a parking lot this system has been implemented. For this system we have implemented an alarm using Raspberry pi Motherboard. The alarm consists of a battery, on/off key, buzzer. Battery is connected to buzzer. Inside the vehicle the alarm is connected  with the vehicle engine battery. The both alarm and engine battery is connected with the interface Raspberry pi Motherboard which has microcontroller to control the voltage used this interface. In this we have inserted to a Micro HDMI ports. Hence we also implemented to on the indicators light so that we can easily find our vehicle.<br><br>
                Inside the vehicle the alarm is gone through with the four wires. One wire with the horn of the alarm to detect the vehicle we have used a alarm sound so that once the key is pressed to detect the horn make a sound. Second wire has been connected to the indicator interface, hence it will on the all the indicators lights when you press a key along with the alarm sound. There are four indicators with the front two and the backside two. This indicators has been connected to the single interface called the stamp or crank. Hence the third wire has been connected to the battery using Raspberry pi Motherboard, because the alarm needs to make sound using the battery. The last wire connected to the key set, to detect that the valid key lock is inserted or not. it is implemented because if the theft trying to start a vehicle the alarm make sound a sound so that the user may came to know that his bike is in danger.</p>
                <a href="{{url_for('login')}}">Place Order</a>
            </div>
        </div>
    </div>
    <div class="images">
        <h3>Images</h3>
        <div>
            <img src="../static/vehicle-wide.jpeg" alt="Vehicle-wide-view">
            <img src="../static/pro2.jpeg" alt="Product-image">
            <img src="../static/vehicle.jpeg" alt="Vehicle-view">
        </div>
    </div>
{% endblock content %}
