{% extends "layout.html" %}
{% block content %}
    <div class="backgd">
        <div class="title">Vehicle Detection System</div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, excepturi!</p>
    </div>
    <div class="about">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolores error, libero delectus nam deserunt repellat quaerat natus quibusdam veniam. Error tempore nihil aliquid tempora temporibus, sed perspiciatis eveniet accusamus.</p>
    </div>
{% endblock content %}
