{% extends "layout.html" %}
{% block content %}
    <div class="backgd">
        <div class="title">Vehicle Detection System</div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, excepturi!</p>
    </div>
    <div class="about">
        <h3>About</h3>
        <div>
            <img src="../static/pro1.jpeg" alt="Product-image">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolores error, libero delectus nam deserunt repellat quaerat natus quibusdam veniam. Error tempore nihil aliquid tempora temporibus, sed perspiciatis eveniet accusamus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolores error, libero delectus nam deserunt repellat quaerat natus quibusdam veniam. Error tempore nihil aliquid tempora temporibus, sed perspiciatis eveniet accusamus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolores error, libero delectus nam deserunt repellat quaerat natus quibusdam veniam. Error tempore nihil aliquid tempora temporibus, sed perspiciatis eveniet accusamus</p>
        </div>
    </div>
    <div class="images">
        <h3>Images</h3>
        <div>
            <img src="../static/vehicle-wide.jpeg" alt="Vehicle-wide-view">
            <img src="../static/pro2.jpeg" alt="Product-image">
            <img src="../static/vehicle.jpeg" alt="Vehicle-view">
        </div>
    </div>
{% endblock content %}
