{% extends "layout.html" %}
{% block content %}
<h2 style="text-align: center;margin: 10px;">List of orders placed</h2>
<button type="submit" class="logout" onclick="window.location='http://127.0.0.1:5000/home'">Logout</button>
<table class="orders">
    <tr>
        <th>Date & Time</th>
        <th>Name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Pieces</th>
        <!-- <th>Completed</th> -->
    </tr>
    {% for i in order %}
    <tr>
        <td>{{i["date"]}}</td>
        <td>{{i["name"]}}</td>
        <td>{{i["phonenumber"]}}</td>
        <td>{{i["email"]}}</td>
        <td>{{i["address"]}}</td>
        <td>{{i["pieces"]}}</td>
        <!-- <td><button id={{i["_id"]}}>Yes</button></td> -->
    </tr>
    {% endfor %}
</table>
<script>
</script>
{% endblock content %}