{% extends "layout.html" %}
{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Pieces</th>
        <th>Completed</th>
    </tr>
    {% for i in order %}
    <tr>
        <td>{{i["name"]}}</td>
        <td>{{i["phonenumber"]}}</td>
        <td>{{i["email"]}}</td>
        <td>{{i["address"]}}</td>
        <td>{{i["pieces"]}}</td>
        <td><button id={{i["_id"]}}>Yes</button></td>
    </tr>
    {% endfor %}
</table>
<script>
</script>
{% endblock content %}