{% extends "layout.html" %}
{% block content %}
    <h2 id="orderh2">Hello {{user}}</h2>
    <button class="logout" onclick="window.location='http://127.0.0.1:5000/home'">Logout</button>
    <div class="orderform">
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <div class='form-group'>
                    {{form.name.label(class='form-control-label')}}
                    {{form.name(class='form-control form-control-lg')}}
                </div>
                <div class='form-group'>
                    {{form.phoneNumber.label(class='form-control-label')}}
                    {{form.phoneNumber(class='form-control form-control-lg',id="phone",oninput="validNumber()")}}
                </div>
                <p class="phone"></p>
                <div class="form-group">
                    {{form.email.label(class="form-control-label")}}
                    {{form.email(class='form-control form-control-lg', value=user, disabled=true)}}
                </div>
                <div class='form-group'>
                    {{form.address.label(class='form-control-label')}}
                    {{form.address(class='form-control form-control-lg')}}
                </div>
                <div class='form-group'>
                    {{form.number.label(class='form-control-label', for='number',min='0')}}
                    {{form.number(class='form-control form-control-lg', id="number", oninput="cost()")}}
                </div>
            </fieldset>
            <p class="cost"></p>
            <p>Cash on delivery</p>
            <div>
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
    <script>
        function cost() {
            var x = document.getElementById("number").value;
            x=x*750
            document.querySelector(".cost").innerHTML = "Total cost in rupees: " + x;
        }
        function validNumber(){
            var x = document.getElementById("phone").value;
            const phonePattern=/^[6-9]\d{9}$/gi
            if(phonePattern.test(x))
                document.querySelector(".phone").innerHTML = "Valid Mobile Number";
            else
                document.querySelector(".phone").innerHTML = "Invalid Mobile Number";
        }
        </script>
{% endblock content %}